<!DOCTYPE>
<html>

    <head>
        <meta property="og:url"             content="http://bitelabs.org" /> 
        <meta property="og:title"           content="BiteLabs" /> 
        <meta property="og:image"           content="http://bitelabs.org/images/fb-thumb.png" /> 
        <meta property="og:type"            content="website" /> 
        <meta property="og:description"     content="EAT CELEBRITY MEAT! BiteLabs grows meat from celebrity tissue samples and uses it to make artisanal salami" /> 

        <title>BiteLabs</title>

        <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48393012-1', 'bitelabs.org');
          ga('send', 'pageview');
        </script>
    </head>

    <body>

        <div class="nav">
            <div class="content">
                <img class="logo" src="images/logo.png" height="40px" style="margin-top: 15px">
                <ul class="nav-list" >
                    <li class="a">What We Do</li>
                    <li class="b">Get Involved</li>
                    <li class="c">Process</li>
                    <li class="d">Vision</li>
                    <li class="e">Contact</li>
                </ul>
            </div>
        </div>

        <div class="top">
            <div>
                <div class="glyphicon glyphicon-chevron-up"></div>
                <div>top</div>
            </div>
        </div>

        <div class="thunderclap-dropdown">
            <div class="content">
                <div class="thunderclap-logo">
                    <br>
                    <a href="https://thunderclap.it" target="_blank"><img src="images/C-thunderclap1.png" width="100px" /></a>
                </div>
                <div class="thunderclap-what">
                    <div class="title">What is Thunderclap?</div>
                    <div class="desc">Thunderclap is the first crowd-speaking platform that helps people be heard by saying something together.</div>
                </div> 
                <div class="thunderclap-how">
                    <div class="title">How does Thunderclap work?</div>
                    <div class="desc">If enough people support it, Thunderclap will blast out a timed Facebook Post or Tweet from all your supporters, creating a wave of attention.</div>
                </div>
                <div class="thunderclap-close glyphicon glyphicon-remove"></div>
            </div>
        </div>

        <div class="section-A">
            <div class="image-container">
                <div class="image"></div>
                <!--img class="image" src="./images/A.png" /-->
            </div>
            <div class="pitch-container">
                <div class="pitch-box content">
                    <div class="headline">EAT CELEBRITY MEAT</div>
                    <div class="sub-headline">BiteLabs grows meat from celebrity tissue samples<br> and uses it to make artisanal salami.</div>
                    <div class="sub-headline video-link"><a href="http://www.youtube.com/watch?v=yC0rR3KvUqI" target="_blank">Watch Now</a></div>
                    <div class="call-to-action">Learn more about us</div>
                </div>
            </div>
        </div>
        
        <div class="section section-B">
            <div class="content">
                <br>
                <div class="title-1">You've never experienced celebrities like this</div>
                <div class="row-span">
                    <div class="a">
                        <img src="images/B01.png" width="200px" height="200px"/>
                        <div class="title-2">Celebrity</div>
                        <div class="desc">It all starts with your favorite celebrities, and a quick biopsy to obtain tissue samples.</div>
                    </div>
                    <div class="b">
                        <img src="images/B02.png" width="200px" height="200px"/>
                        <div class="title-2">Culture</div>
                        <div class="desc">Isolating muscle stem cells, we grow celebrity meat in our proprietary bioreactors.</div>
                    </div>
                    <div class="c">
                        <img src="images/B03.png" width="200px" height="200px"/>
                        <div class="title-2">Meats</div>
                        <div class="desc">In the tradition of Italian cured meats, we dry, age, and spice our product into fine charcuterie.</div>
                    </div>
                </div>
                <br>
                <div><a href="/process_details">Learn more about our process ></a></div>
            </div>
        </div>

        <br>

        <div class="section section-C0">
            <div class="content">
                <div class="splash-image">
                    <div class="splash-twitter splash-icon"></div>
                    <div class="splash-thunderclap splash-icon"></div>
                    <div class="splash-thunderclap-help">?</div>

                    <img src="images/megaphones.png" width="500px" />
                </div>
                <div class="center-tag">HELP GET <br> CELEBRITIES ON BOARD</div>
                <br><br>
                <div class="bottom-tag">Let's tell the world we want to <span class="link-to-twitter" style="color: #69afff">#EatCelebrityMeat</span></div>
            </div>
        </div>

        <div class="section section-C">
            <div class="content">
                <br><br><br><br>
                <div class="title-3">
                    Tweet at your favorite celebrities and support us on Thunderclap
                    <span class="splash-thunderclap-help">?</span>
                </div>
                <br><br><br><br>

                <!-- JAMES FRANCO -->
                <div class="celeb-A celeb">
                    <div class="celeb-image">
                    </div>                     
                    <div class="celeb-desc">
                        <div class="celeb-desc-top">
                            <div class="celeb-desc-top-text">
                                <div class="title-3">James Franco</div>
                                <div class="celeb-headline-text">
                                    <em>He's sexy. He's artsy. Let's make him salami</em>
                                </div>
                            </div>
                            <div class="twitter-link link"></div>
                            <div class="thunderclap-link link"></div>
                        </div> <br>

                        <div class="celeb-desc-text">
                            The Franco salami must be smoky, sexy, and smooth. Franco's meat will pair with lean, strong venison. Sharp Tellicherry peppercorns and caramelized onions provide Franco's underlying flavors, complemented by a charming hint of lavender. The Franco salami’s taste will be arrogant, distinctive, and completely undeniable.
                        </div> <br>

                        <div class="tweet-container">
                            <div class="tweet-at">
                                <div class="twitter-icon"></div>
                                <div class="twitter-text">Tweet at James Franco and help make the Franco Salami real</div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br><br>

                <!-- JENNIFER LAWRENCE -->
                <div class="celeb-B celeb">
                    <div class="celeb-image">
                    </div>                     
                    <div class="celeb-desc">
                        <div class="celeb-desc-top">
                            <div class="celeb-desc-top-text">
                                <div class="title-3">Jennifer Lawrence</div>
                                <div class="celeb-headline-text">
                                    <em>A different type of Hunger Game</em>
                                </div>
                            </div>
                            <div class="twitter-link link"></div>
                            <div class="thunderclap-link link"></div>
                        </div> <br>

                        <div class="celeb-desc-text">
                            The JLaw salami will be complemented by a mixture of rabbit and pork. A charming and confident flavor profile, the JLaw salami is coarse ground in a rustic style, smoothed with notes of honey, and spiced with orange zest and ginger. Always surprising, this salami will never fail to entertain.
                        </div> <br>

                        <div class="tweet-container">
                            <div class="tweet-at">
                                <div class="twitter-icon"></div>
                                <div class="twitter-text">Tweet at Jennifer Lawrence and help make the JLaw salami real</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br><br><br><br>

                <!-- KANYE WEST -->
                <div class="celeb-C celeb">
                    <div class="celeb-image">
                    </div>                     
                    <div class="celeb-desc">
                        <div class="celeb-desc-top">
                            <div class="celeb-desc-top-text">
                                <div class="title-3">Kanye West</div>
                                <div class="celeb-headline-text">
                                    <em>Always push the boundaries in taste</em>
                                </div>
                            </div>
                            <div class="twitter-link link"></div>
                            <div class="thunderclap-link link"></div>
                        </div> <br>

                        <div class="celeb-desc-text">
                            The Kanye Salami will pull no punches: heavy, and boldly flavored, pure Kanye West meat will blend with rich, coarse-ground pork. Hungarian paprika and worcestershire give Kanye an underlying smokiness, spiced up with hints of jalapeno. The Kanye Salami is best paired with strong straight bourbon.
                        </div> <br>

                        <div class="tweet-container">
                            <div class="tweet-at">
                                <div class="twitter-icon"></div>
                                <div class="twitter-text">Tweet at Kanye West and help make the Kanye salami real</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br><br><br><br>

                <!-- ELLEN DEGENERES-->
                <div class="celeb-D celeb">
                    <div class="celeb-image">
                    </div>                     
                    <div class="celeb-desc">
                        <div class="celeb-desc-top">
                            <div class="celeb-desc-top-text">
                                <div class="title-3">Ellen DeGeneres</div>
                                <div class="celeb-headline-text">
                                    <em>Please welcome the Ellen Salami</em>
                                </div>
                            </div>
                            <div class="twitter-link link"></div>
                            <div class="thunderclap-link link"></div>
                        </div> <br>

                        <div class="celeb-desc-text">
                            As a salami, we see Ellen Salami composition blended with ostrich. Black pepper and garlic with a playful kick of mustard give the Ellen salami a highly approachable and well-rounded flavor. A hint of brandy and shallots will finish off the Ellen salami in exquisite fashion.
                        </div> <br>

                        <div class="tweet-container">
                            <div class="tweet-at">
                                <div class="twitter-icon"></div>
                                <div class="twitter-text">Tweet at Ellen DeGeneresand help make the Ellen Salami real</div>
                            </div>
                        </div>
                    </div>
                </div>                
                
                <br><br><br><br>

                <div class="title-3">
                    Who else do you want to eat?<br>
                    Tweet at them with <span class="link-to-twitter" style="color: #4099ff"> #EatCelebrityMeat </span>
                </div>

            </div>
        </div>

        <div class="section section-D">
            <div class="content">
                <div class="image"></div>
                <div class="description">
                    <div class="title-1" style="color: white">Process</div>
                    <div class="desc">
                        We start with top-quality ingredients, and time-honored recipes for the creation of fine cured meats. <b>We mix celebrity and animal meats, grown in house through a proprietary culturing process, into curated salami blends.</b> Starting with biopsied myoblast cells, we grow our healthy, rich, meats in Bite Labs’ own bioreactors.
                        <br><br>
                        Our process yields high-quality, luxury protein, in a sustainable manner that eliminates the environmental and ethical concerns associated with traditional livestock production.
                    </div>
                    <br><br>
                    <div class="learn-more">
                        <a href="process_details">Learn More &nbsp
                            <div class="glyphicon glyphicon-chevron-right"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-E">
            <div class="content">
                <br>
                <div class="title-1">The Future of Meat</div>
                <br>
                <div class="future">
                    <div class="left-section">
                        <!-- ECO FRIENDLY -->
                        <div class="title-2">Eco-Friendly</div>
                        <div class="future-image future-image-left"></div>
                        <div class="future-desc">
                        Celebrity meat production requires less than 1% of the amount of land needed for traditional farming.  Currently, 70% of the world’s farmland (almost 30% of the entire earth’s surface) is used for raising animals.  Meat production today is simply unsustainable: unless a radical change is made, the price of meat will eventually rise out of control. Lab grown meats are the future.
                        </div>
                    </div>
                    <div class="right-section">
                        <!-- HEALTH -->
                        <div class="title-2">Health</div>
                        <div class="future-image future-image-right"></div>
                        <div class="future-desc">
                        Bite Labs’ meats are not affected by the growth hormones administered to farm animals, nor are they in contact with pesticides or other chemicals associated with industrial farming. The nutritional content of our products can be rigorously controlled. Farms are dirty, and animals prone to infection; Bite Labs is a clean space where we can grow safer, healthier products.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="section-F section">
            <!-- CONNECT -->
            <div class="content">
                <div class="title-2">Famous and want your meat produced?</div>
                <div class="text-box">
                    <input type="text" placeholder="john doe, johndoe@email.com">
                    <div class="glyphicon glyphicon-chevron-right" person-type="celeb"></div>
                </div>
                <div class="submit-result title-2">
                    Thanks! We look forward to contacting you.
                </div>

                <br><br><br><br>

                <div class="title-2">Fascinated? Stay updated or get involved. </div>
                <div class="text-box">
                    <input type="text" placeholder="janedoe@email.com">
                    <div class="glyphicon glyphicon-chevron-right" person-type="normal" ></div>
                </div>
                <div class="submit-result title-2">
                    Thanks! We'll keep you up-to-date with our progress.
                </div>
            </div>
        </div>

        <!-- what have people said -->
        <!--div class="section-G section">
            <div class="content">
                <br><br>
                <div class="title-3">What have people said about us?</div>
                <br><br>

                <div class="compliment-box">
                    <div class="compliment">
                        <div class="quote" style="font-size: 1.6em; line-height: 1.3em;">
                            <p>
                                <strong>&#x201c</strong> 
                                <i> 4 salamis that are better than sex. </i>
                                <strong>&#x201d</strong>
                            </p>
                        </div>
                        <div class="quoter">
                            <p>
                                - Jeff Burden<br> <strong> Buzzfeed </strong>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="compliment-box">
                    <div class="compliment">
                        <div class="quote" style="font-size: 1.4em; line-height: 1.2em;">
                            <p>
                                <strong>&#x201c</strong> 
                                <i> Can't wait for their first batch. It'll be a true culinary experience! </i>
                                <strong>&#x201d</strong>
                            </p>
                        </div>
                        <div class="quoter">
                            <p>
                            - Jeremy Roemer<br><strong> Hell's Kitchen </strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="compliment-box">
                    <div class="compliment">
                        <div class="quote" style="font-size: 1.4em; line-height: 1.2em;">
                            <p>
                                <strong>&#x201c</strong> 
                                <i> Finally, an truly innovative push for post-animal food products. </i>
                                <strong>&#x201d</strong>
                            </p>
                        </div>
                        <div class="quoter">
                            <p>
                            - Andrew Dutta<br><strong>CPO of Greenpeace </strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="compliment-box">
                    <div class="compliment">
                        <div class="quote" style="font-size: 1.4em; line-height: 1.2em;">
                            <p>
                                <strong>&#x201c</strong> 
                                <i> Cutting edge bio-tech meets great idea. I can't wait to try! </i>
                                <strong>&#x201d</strong>
                            </p>
                        </div>
                        <div class="quoter">
                            <p>
                                - Ji Xuan Wong<br><strong> MIT</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="compliment-box">
                    <div class="compliment">
                        <div class="quote" style="font-size: 1.8em; line-height: 1.4em;">
                            <p>&nbsp 
                                <strong>&#x201c</strong> 
                                <i> That's weird. </i>
                                <strong>&#x201d</strong>
                            </p>
                        </div>
                        <div class="quoter">
                            <p>
                            - Andy Law<br><strong> RISD </strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="compliment-box">
                    <div class="compliment">
                        <div class="quote" style="font-size: 1.4em; line-height: 1.2em;">
                            <p>
                                <strong>&#x201c</strong> 
                                <i>This is what people have been waiting for- a <strong> real </strong> way to connect fans to celebrities.</i>
                                <strong>&#x201d</strong>
                            </p>
                        </div>
                        <div class="quoter">
                            <p>
                                - Debbie Tam<br><strong> People's Magazine</strong>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div-->

        <div class="footer section">
            <div class="content">
                <div class="footer-top">
                    <div class="a info">
                        <div class="title">Contact</div><hr>
                        <div class="description">
                            <a href="mailto:bitelabsco@gmail.com">Email us</a>
                        </div>
                    </div>
                    <div class="b info">
                        <div class="title">Legal</div><hr>
                        <div class="description">
                            <a href="/legal">Terms & Conditions</a>
                        </div>
                    </div>
                    <div class="c info">
                        <div class="title">Social</div><hr>
                        <div class="description">
                            <a href="https://www.twitter.com/bitelabsco" target="_blank">
                                Twitter
                            </a><br>
                            <a href="https://www.facebook.com/bitelabs" target="_blank">
                                Facebook
                            </a><br>
                            <a href="http://eatcelebritymeat.tumblr.com" target="_blank">
                                Tumblr
                            </a><br>
                        </div>
                    </div>
                </div>


                <div class="footer-bottom">
                    <img src="images/logo.png" height="40px">
                    <div>
                        COPYRIGHT 2014. ALL RIGHTS RESERVED.
                        <br><br>
                        BITELABS IS NOT AFFILIATED WITH ANY OF THE <br>
                        PERSONALITIES LISTED ON THIS SITE AND DOES NOT CLAIM RESPONSIBILITY<br>
                        FOR ANY ACTIONS OR ADVERSE SITUATIONS CREATED AS A RESULT OF OUR CONTENT <br>
                    </div>
                    <br><br><br><br>
                </div>

                <div class="footer-share">
                    <div class="custom-share-button" id="custom-tweet-button">
                      <a href="https://twitter.com/home?status=Check%20out%20www.bitelabs.org%0A%0A%23EatCelebrityMeat%20" target="_blank"></a>
                    </div>

                    <div class="custom-share-button" id="custom-fb-button">
                        <a title="send to Facebook" href="https://www.facebook.com/sharer.php?s=100&p%5Burl%5D=www.bitelabs.org&p%5Bimages%5D%5B0%5D=www.bitelabs.org%2Fimages%2Ffb-thumb.png&p%5Btitle%5D=BiteLabs&p%5Bsummary%5D=BiteLabs%20grows%20meat%20from%20celebrity%20tissue%20samples%0Aand%20uses%20it%20to%20make%20artisanal%20salami.%20%23EatCelebrityMeat" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/jquery-2.0.3.min.js"></script> 
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/index.js"></script> 


    </body>

</html>
