<!DOCTYPE>
<html>

    <head>
        <title>BiteLabs</title>
        <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48393012-1', 'bitelabs.org');
          ga('send', 'pageview');

        </script>
    </head>

    <body>
        <div class="nav">
            <div class="content">
                <a href="/">
                    <img class="logo" src="images/logo.png" height="40px" style="margin-top: 15px">
                </a>
                <ul class="nav-list" >
                    <li class="a"><a href="/what">What We Do</a></li>
                    <li class="b"><a href="/get-involved">Get Involved</a></li>
                    <li class="c active">Process</li>
                    <li class="d"><a href="/vision">Vision</a></li>
                    <li class="e"><a href="/contact">Connect</a></li>
                </ul>
            </div>
        </div>

        <div class="content backbar">
            <a href="/"> <div class="glyphicon glyphicon-chevron-left"></div> &nbsp back </a>
        </div>

        <div class="content process-A">
            <div class="title-1">In Vitro Meat</div>
            <div class="intro">
                <div class="intro-image"></div>
                <div class="intro-desc">
                    BiteLabs produces fine artisanal salami from meat that has been lab-grown from celebrity tissue samples.
                    <br><br>
                    In 1931, Winston Churchill predicted a future in which all the world’s meat would be grown in labs; what, he asked, was the sense in raising a whole chicken merely for the sake of its wings or breast meat?
                    <br><br>
                    Today, In-Vitro meat production is close to becoming a reality, offering highly controllable meat production without the animal cruelty, waste, and environmental impacts of industrial farming.  But this process can offer so much more than replicas of beef and pork.
                </div>
            </div>
        </div>

        <hr>

        <div class="content process-B">
            <div class="title-1">Imagine meat like never before.</div>

            <div class="step step0">
                <div class="step-image0 step-image"></div>
                <div class="step-desc0 step-desc">
                    The process begins with myosatellite cells, which are obtained via biopsy. These are a particular type of stem cell found in adult muscle that function to repair and regrow damaged muscle. Isolating a sample of these cells provides a base that can grow into as much meat as required.
                </div>
            </div>
            <hr>

            <div class="step step1">
                <div class="step-image1 step-image"></div>
                <div class="step-desc1 step-desc">
                    In order to produce meat in volume, we allow the myosatellite cells to multiply in a growth medium. The medium functions as a sort of artificial ‘blood,’ providing the cells with nutrients and growth factors. The stem cells must not only multiply, but also develop into actual muscle -- but this occurs as a matter of course, being the primary purpose of the stem cells in the first place.
                </div>
            </div>
            <hr>

            <div class="step step2">
                <div class="step-image2 step-image"></div>
                <div class="step-desc2 step-desc">
                    To become meat not only in cell type but in texture and structure as well, the fledgling muscle cells are attached over a sugar support.  This not only provides a structure for muscle to grow over, but also creates channels for growth medium to flow through, much like veins.  At this point the growth process has moved into the bioreactors, where directional stimulation of the muscles makes them mature and become stronger.
                </div>
            </div>
            <hr>

            <div class="step step3">
                <div class="step-image3 step-image"></div>
                <div class="step-desc3 step-desc">
                    When fully grown, these muscle pieces are combined and ground to the desired consistency.  It is at this point that we mix different types of meats, according to the specific recipes for each of our products.  Spices, fats, and oils are mixed in to flavor and adjust the consistency of the meat blends.
                </div>
            </div>
            <hr>

            <div class="step step4">
                <div class="step-image4 step-image"></div>
                <div class="step-desc4 step-desc">
                    The ground meat is now stuffed into casings and given a final seasoning.  We then dry, age, and cure our salamis in a traditional low temperature environment before packaging them for distribution.
                </div>
            </div>

        </div>

        <hr>

        <div class="process-C content">
            <div class="title-1">Nutritional Information</div>
            <hr>
            <br>
            coming soon
            <br>
            <br>
            <hr>
        </div>

        <div class="footer section">
            <div class="content">
                <div class="footer-top">
                    <div class="a info">
                        <div class="title">Contact</div><hr>
                        <div class="description">
                            <a href="mailto:bitelabsco@gmail.com">Email us</a>
                        </div>
                    </div>
                    <div class="b info">
                        <div class="title">Legal</div><hr>
                        <div class="description">
                            <a href="/legal">Terms & Conditions</a>
                        </div>
                    </div>
                    <div class="c info">
                        <div class="title">Social</div><hr>
                        <div class="description">
                            <a href="https://www.twitter.com/bitelabsco" target="_blank">
                                Twitter
                            </a><br>
                            <a href="https://www.facebook.com/bitelabs" target="_blank">
                                Facebook
                            </a><br>
                            <a href="http://eatcelebritymeat.tumblr.com" target="_blank">
                                Tumblr
                            </a><br>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <img src="images/logo.png" height="40px">
                    <div>
                        COPYRIGHT 2014. ALL RIGHTS RESERVED.
                        <br><br>
                        BITELABS IS NOT AFFILIATED WITH ANY OF THE <br>
                        PERSONALITIES LISTED ON THIS SITE AND DOES NOT CLAIM RESPONSIBILITY<br>
                        FOR ANY ACTIONS OR ADVERSE SITUATIONS CREATED AS A RESULT OF OUR CONTENT <br>
                    </div>
                    <br><br><br><br>
                </div>

                <div class="footer-share">
                    <div class="custom-share-button" id="custom-tweet-button">
                      <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.bitelabs.org&text=eat%20celebrity%20meat!" target="_blank"></a>
                    </div>

                    <div class="custom-share-button" id="custom-fb-button">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbitelabs.org" target="_blank"></a>
                    </div>

                    <br><br><br>
                    <img src="/images/hellovelocity.png" width="50px" height="50px">

                </div>
            </div>
        </div>
        <script src="js/jquery-2.1.1.min.js"></script> 
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/index.js"></script> 
        
    </body>

</html>
